@inherits LayoutComponentBase

<div class="aw-shell">
    <NavMenu />
    <main class="aw-main">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ein Fehler ist aufgetreten.
    <a href="." class="reload">Neu laden</a>
    <span class="dismiss">🗙</span>
</div>
